@import 'variables';

.item-card {
    max-width: 300px;

    ::ng-deep .mat-card-header-text {
        margin: 0px !important;
    }

    .title-container{
        height: 4em;
    }
    .image-container {
        height: 255px;
        padding: 1em 1em 0;
        background-color: $white;
        overflow: hidden;
        position: relative;
    img {
        height: 100%;
        object-fit: cover;
      }
    }
    .card-description {
        height: 60px;
    }

    .fav-button {
        cursor: pointer;
    }
}

