<mat-card class="item-card">
  <mat-card-header>
    <mat-card-title>
      <h2 *ngIf="item.price">{{item.price}}€</h2>
      <h3 ngClass.lg="title-container">{{item.title}}</h3>
    </mat-card-title>
    <mat-card-subtitle *ngIf="item.email">{{item.email}}</mat-card-subtitle>
  </mat-card-header>
  <div class="image-container">
    <img mat-card-image src="{{item.image}}" alt="{{item.title}} image">
  </div>
  <mat-card-content>
    <ng-container *ngIf="item.description">
      <p [fxHide.xs]="true" class="card-description">
        {{item.description | truncate: 90 }}
      </p>
      <p [fxHide.gt-xs]="true" class="card-description">
        {{item.description | truncate: 150 }}
      </p>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button class="fav-button" *ngIf="favorite" (click)="removeFavorite()" mat-icon-button color="warn"
      aria-label="Remove favorite">
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="fav-button" *ngIf="!favorite" (click)="addFavorite()" mat-icon-button color="warn"
      aria-label="Add favorite">
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
