<mat-toolbar class="app-header" color="primary">
  <mat-toolbar-row>
    <span fxFlex="25" [fxHide.xs]="true">Item Manager</span>
    <span fxFlex.xs="25" [fxHide.gt-xs]="true">I M</span>
    <div fxFlex="50">
      <app-search [placeholder]="'Buscar por Titulo, Descripcion, Email or Precio'" [items]="items"
        (submitSearch)="onSubmitSearch($event)"></app-search>
    </div>
    <div fxFlex="25" fxLayoutAlign="end">
      <button mat-raised-button color="accent" (click)="onShowFavorites()" [fxHide.xs]="true">
        <span class="fav-button-title">Favoritos</span>
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="onShowFavorites()" [fxHide.gt-xs]="true">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-container" ngClass.xs="padding-xs">
  <div class="app-sub-header">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="1em">
      <div fxFlex="75">Total de resultados encontrados: {{filteredItems.length}}</div>
      <div fxFlex="20" fxLayoutAlign="end">
        <mat-form-field appearance="fill">
          <mat-label>Ordenar por</mat-label>
          <mat-select (selectionChange)="onOrderBy($event.value)">
            <mat-option value="title">Titulo</mat-option>
            <mat-option value="description">Descripcion</mat-option>
            <mat-option value="price">Precio</mat-option>
            <mat-option value="email">Email</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="app-search-results">
    <div fxLayout="row wrap" fxLayoutAlign="strech" fxLayoutGap="1em grid">
      <div *ngFor="let item of paginatedItems" fxFlex="20" fxFlex.xs="100" fxFlex.md="33" fxFlex.sm="50">
        <app-item-card [item]="item" [favorite]="isFavoriteItem(item)">
        </app-item-card>
      </div>
      <div *ngIf="paginatedItems.length === 0">
        <h2>No se han encontrado resultados</h2>
      </div>
    </div>
    <div class="paginator">
      <mat-paginator *ngIf="filteredItems.length > pageSize" [hidePageSize]="true" [length]="filteredItems.length"
        [pageSize]="pageSize" (page)="handlerPage($event)">
      </mat-paginator>
    </div>
  </div>
</div>
