<button class="close-btn" mat-button mat-dialog-close>X</button>
<h2 mat-dialog-title>Lista de Favoritos</h2>
<div fxLayout="row">
  <div fxFlex="50" fxFlex.xs="100">
    <app-search [placeholder]="'Buscar por Titulo'" [items]="favoriteItems" (submitSearch)="onSubmitSearch($event)">
    </app-search>
  </div>
</div>
<div class="favorite-list">
  <div fxLayout="row wrap" fxLayoutAlign="strech" fxLayoutGap="1em grid">
    <div *ngFor="let item of filteredItems" fxFlex="25" fxFlex.xs="100">
      <app-item-card [item]="item" [favorite]="item.favorite">
      </app-item-card>
    </div>
    <div *ngIf="filteredItems.length === 0">
      <h2>No se encuentran favoritos en tu lista</h2>
    </div>
  </div>
</div>
