<button class="close-btn" mat-button mat-dialog-close>X</button>
<h2 mat-dialog-title>Lista de Favoritos</h2>
<app-search (submitSearch)="onSubmitSearch($event)"></app-search>
<div fxLayout="column" fxLayoutAlign="space-between center">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="2em grid">
    <div *ngFor="let item of filteredItems">
      <app-item-card fxLayout="column" fxLayoutGap="1em" [item]="item" [favorite]="item.favorite">
      </app-item-card>
    </div>
    <div *ngIf="filteredItems.length === 0">
      <h2>No se encuentran favoritos en tu lista</h2>
    </div>
  </div>
</div>
