<mat-toolbar class="app-header" color="primary">
  <mat-toolbar-row>
    <span fxFlex="25">Item Manager</span>
    <div fxFlex="50">
      <app-search (submitSearch)="onSubmitSearch($event)"></app-search>
    </div>
    <div fxFlex="25" fxLayoutAlign="end">
      <button mat-raised-button color="accent" (click)="onShowFavorites()">
        Favoritos
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="app-container">
  <div class="app-sub-header">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
      <div fxFlex="75">Total de resultados {{array.length}} de {{filteredItems.length}}</div>
      <div fxFlex="20" fxLayoutAlign="end">
        <mat-form-field appearance="fill">
          <mat-label>Ordenar por</mat-label>
          <mat-select [(ngModel)]="orderByKey" (selectionChange)="onOrderBy($event.value)">
            <mat-option value="title">Titulo</mat-option>
            <mat-option value="description">Descripcion</mat-option>
            <mat-option value="price">Precio</mat-option>
            <mat-option value="email">Email</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="app-search-results">
    <div fxLayout="row wrap" fxLayoutAlign="strech" fxLayoutGap="1em grid" infinite-scroll
      [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
      <div *ngFor="let item of array" fxFlex="25" fxFlex.xs="100">
        <app-item-card [item]="item" [favorite]="isFavoriteItem(item)">
        </app-item-card>
      </div>
      <div *ngIf="array.length === 0">
        <h2>No se han encontrado resultados</h2>
      </div>
    </div>
  </div>
</div>
